#title,.title-nav{
    background-color: #1572A1;
    color: #FDF6F0;
}

body{
    font-family: 'Open Sans', sans-serif;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 1.5;
}

h3{
    font-family: 'Lato', sans-serif;
}

p{
    color:#8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* navigation bar  */

.navbar{
    padding: 0 0 4.5rem;
    background-color: #1572A1;
    color: #FDF6F0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Ubuntu";
}

/* Dowload Buttons */
.Download-button{
    margin: 5% 3% 5% 0;
}

.title-nav .navbar{
    padding: 0;
}
.title-nav, .container-fluid{
    padding:3% 15% 2%;
}

/* Title Image */
.title-image{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    border-radius: 5%;
}



/* Features */
#features{
    padding: 5% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color:#1572A1;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #1572A1;
}

/* Testimonial Section  */
#testimonials{
    
    text-align: center;
    background-color: #1572A1;
    color: #fff;
    /* 15% top and bottom and 7% left and right */
}

.carousel-item{
    padding: 7% 15%;
}

.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #1572A1;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA Section  */
#cta{
    background-color: #1572A1;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer section  */
#footer{
    background-color: white;
    padding: 1% 15%;
    text-align: center;
}

#footer p{
    color: black;
    font-weight: 700;
}

.social-icon {
    margin: 20px 10px;
}
/* For width less than 1028px */
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        /* This is absolute rotation */
    }
}

/* Institute */
#institute{
    background-color: #1572A1;
    padding: 5% 15%;
}

.inst-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* Teams page styling */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7rem;
  }
  .container .card {
    width: 300px;
    height: 400px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em rgb(175, 187, 202),
      -0.5em -0.5em 1em #aeb0b1;
    border-radius: 20px;
  }
  .container .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container .card .content .imgBx {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .card .content .contentBx h4 {
    color: #36187d;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .container .card .content .contentBx h5 {
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .container .card .content .sci {
    margin-top: 20px;
  }
.container .card .content .sci {
  margin-top: 20px;
}

.container .card .content .sci a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}

.container .card .content .sci a:hover {
  color: #0196e3;
}


/* Footer page styling */
#about {
    padding: 2rem;
    margin-top: 5rem;
    background-color: #1572A1;
    color: #fff;
}

#about h2 {
    text-align: center;
    padding: 2rem 0;

}

#about li {
    list-style: none;
}

.contact_us,
.address {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.footer-container__header {
    margin-left: 2.5rem;
}

.footer-container {
    padding: 0 5rem;
}

.copyright {
    padding: 1rem;
    margin: 0;
    text-align: center;
}
