<!-- Footer section -->
<section id="institute">
  <div class="row">
    <div class="inst-logo col-lg-6 col-md-6 col-sm-12">
      <a href="https://www.uasraichur.edu.in/index.php/en/"><img style="border-radius: 40%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/University_of_Agricultural_Science_Raichuru_logo.jpg/220px-University_of_Agricultural_Science_Raichuru_logo.jpg"></a>
    </div>
    <div class="inst-logo col-lg-6 col-md-6 col-sm-12">
      <a href="https://iiitdwd.ac.in/"><img src="img/iiitdwd.png"></a>
    </div>
  </div>
</section>


<footer id="footer">
  <p>© Copyright 2022 Velocity</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>


</body>

</html>