<!-- <main>
    <div class="ui segment">
      <h1>Oops some error occured :( <br> Please try again</h1>

      <a href="/auth/orcid/login">Sign in with ORCID</a>
    </div>
   </main>
    -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failure</title>
  <%- include('partials/Links') %>

  <!-- font awesone -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
  <link rel="stylesheet" href="mainStyles.css">

</head>

<body>
  <div>
    <div class="container-fluid">
      <%- include('partials/navbar') %>
    </div>

    <div class="contents-container">
      <div class="contents">
        <h3>Oops some error occured.</h3>
        <a class="login-button" href="/auth/orcid/login"><button type="button "
            class=" ms-auto btn btn-outline-dark me-2">Log in to Scholar Chat</button></a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>


</body>

</html>