<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scholar Chat</title>
  <%- include('partials/Links')%>
  <link rel="stylesheet" href="mainStyles.css">

  <!-- font awesone -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
</head>

<body>
  <!-- <div class="container-fluid"> -->
  <div>
    <div class="container-fluid">
      <%- include('partials/navbar') %>
    </div>

    <div class="contents-container">
      <div class="contents">
        <h3>User successfully created.</h3>
        <a class="shadow login-button" href="https://scholar-chat-orcid.herokuapp.com/chats"><button type="button "
            class="ms-auto btn btn-outline-dark me-2">Log in to Scholar Chat</button></a>
      </div>
    </div>

  </div>


  <%- include('partials/footer') %>