<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@300&family=Ubuntu&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- <link rel="stylesheet" href="team_styles.css"> -->
    <link rel="stylesheet" href="styles.css">

    <title>Team Page</title>



</head>

<body>

    <!--Navbar Section-->
    <div class="title-nav container-fluid">
        <%- include('partials/navbar') %>
    </div>
    <section id="teams">
        <div class="container-fluid">
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/chirag.jfif" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Chirag Mittal</h4>
                            <h5>3rd Year Student @IIITDWD</h5>
                        </div>
                        <div class="sci">
                            <a href="https://www.linkedin.com/in/chirag35847/"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></a>
                            <a href="https://github.com/chirag35847"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/shreyas.jfif" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Shreyas Bulbule</h4>
                            <h5>3rd Year Student @IIITDWD</h5>
                        </div>
                        <div class="sci">
                            <a href="https://www.linkedin.com/in/shreyas-bulbule-3912301b3/"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></a>
                            <a href="https://github.com/kuchiPie"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>



    </section>
    <div class="footer-teams">
        <%- include('partials/footer') %>
    </div>

    <footer id="footer">
        <p>© Copyright 2022 Scholar Chat</p>

    </footer>
</body>

</html>